{% extends "layout.html" %}

{% block body %}
    <div class="forgot-password-section container">
        <!-- Display error message if it exists -->
        {% if error %} 
                <p class="error-message">{{ error }}</p>
            {% endif %}

        <!-- Forgot Password Form -->
        {% if form_type == 'forgot' %}
            <h2>Reset Your Password</h2>
            <form action="{{ url_for('forgot_password') }}" method="post">
                <div class="mb-3">
                    <label for="email">Enter your registered email address:</label>
                    <input type="email" id="email" name="email" class="form-control" autofocus required> 
                </div>
                <div><button type="submit" class="btn btn-primary me-2">Reset Password</button></div>
            </form>

    </div>
{% endblock %}