{% block title %}
    DevBrain
{% endblock %}

{% block body %}
    <div class="difficulty-section container">
        <h2>Select Difficulty Level:</h2>
        <form action="/quiz" name="difficulty" method="get" style="display: inline;">
            <input type="radio" name="difficulty" value="Easy">Easy</input>
            <input type="radio" name="difficulty" value="Medium">Medium</input>
            <input type="radio" name="difficulty" value="Hard">Hard</input>
        </form>
    </div>


    <div class="topic-section">
        <h2>Choose a Topic:</h2>
            {% for topic in topics %}
                <form action="/quiz" method="get" style="display: inline;">
                    <input type="hidden" name="topic" value="{{ topic }}">
                    <input type="hidden" name="difficulty" value="Easy">
                    <button type="submit">{{ topic.capitalize() }}</button>
                </form>
            {% endfor %}
        
    <!-- Start Quiz Button -->
    </div id="start button"><input type="submit" value="Start Quiz"></div>


    <div class="Navigation-links">
        <a href="/about">About DevBrain</a>
        <a href="/History">History</a>
    </div>

{% endblock %}