{% extends "layout.html" %}

{% block body %}
    <form action="/quiz" method="post">
        <!-- Topic Selection -->
        <div class="topic-section">
            <h2>Choose a Topic:</h2>
                <input type="checkbox" name="quiz[topics][]" value="uncategorized"> Uncategorized
                {% for topic in topics %}
                    <label>
                        <input type="checkbox" name="quiz[topics][]" value="{{ topic }}"> {{ topic.capitalize() }}
                    </label>
                {% endfor %}
        </div>

        <!-- Difficulty Selection -->
        <div class="difficulty-section">
            <h2>Select Difficulty Level:</h2>
                <label><input type="radio" name="quiz[difficulty]" value="Easy">Easy</label>
                <label><input type="radio" name="quiz[difficulty]" value="Medium">Medium</label>
                <label><input type="radio" name="quiz[difficulty]" value="Hard">Hard</label>
        </div>

        <!-- Questions Count -->
        <div class="count-sections">
            <h2>Number of Questions:</h2>
            <input type="number" name="quiz[limit]" placeholder="Questions Count" min="1" max="50" required>
        </div>

        <!-- Start Quiz Button -->
        <button type="submit" class="btn btn-primary fw-bold">Start Quiz</button>
    </form>


{% endblock %}