{% extends "layout.html" %}

{% block title %}
    : Register
{% endblock %}

{% block body %}
    <div class="register-section container">
        <h2>Create an Account</h2>
        {% if error %} <!-- Display error message if it exists -->
            <p class="error-message">{{ error }}</p>
        {% endif %}

        <form action="{{ url_for('auth.register') }}" method="post">
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" autofocus autocomplete="email" required> 
            </div>
            <div class="mb-3">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Optional"> 
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" autocomplete="new-password" required>
            </div>
            <div class="mb-3">
                <label for="confirmation">Confirm Password:</label>
                <input type="password" id="confirmation" name="confirmation" class="form-control" autocomplete="new-password" required>
            </div>
            <div><button type="submit" class="btn btn-primary me-2">Register</button></div>
        </form>
        <p><a href="{{ url_for('auth.login') }}">Already have an account?</a></p>
    </div>
{% endblock %}