{% extends "layout.html" %}

{% block body %}
    <div class="forgot-password-section container">
        <div class="mb-3">
            <!-- Display error message if it exists -->
            {% if error %} 
                <h2 class="error-message">{{ error }}</h2>
            {% endif %}
        </div>
        <div>
            {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

        <!-- Forgot Password Form -->
        {% if form_type == 'forgot' %}
            <h2>Reset Your Password</h2>
            <form action="{{ url_for('auth.forgot_password') }}" method="post">
                {{ form.hidden_tag() }}
                
                <div class="mb-3">
                    {{ form.email.label }}
                    {{ form.email(class="form-control", autocomplete="email", autofocus=True)}}
                </div>
                <div>{{ form.submit(class="btn btn-primary me-2")}}</div>
            </form>

        <!-- Email Found or Not Found Confirmation -->
        {% elif form_type == "sent_or_notfound" %}
        <div class="mb-3">
            <h2>If An Account Exists, Reset Link Sent</h2>
            <p>Please check your email for the password reset link. Make sure to check your spam folder.</p>
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Go to Login</a>
        </div>

        <!-- Reset Password Form -->
        {% elif form_type == "reset" %}
            <h2>Set a New Password</h2>
            <form action="{{ url_for('auth.reset_password', token=token) }}" method="post">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.password.label }}
                    {{ form.password(class="form-control", autocomplete="new-password") }}
                </div>

                <div class="mb-3">
                    {{ form.confirmation.label }}
                    {{ form.confirmation(class="form-control", autocomplete="new-password") }}
                </div>
                <div>{{ form.submit(class="btn btn-primary me-2") }}</div>
            </form>

        <!-- Confirming new password submission -->
        {% elif form_type == "success" %}
            <h2>Your password has been successfully reset.</h2>
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Go to Login</a>
        {% endif %}
    </div>
{% endblock %}